.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid.ng-touched {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=password].invalid.ng-touched {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
